.chat-side {
  .groups {
    height: calc(100vh - 120px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
    a {
      text-decoration:none;
      p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
      .group {
        &__group-name {
          font-size: 15px;
          margin-bottom: 5px;
          color: white;
        }
        &__latest-message {
          font-size: 11px;
          color: white;
        }
      }
    }
  }
}